.portfolio-about-page {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.portfolio-about-page .div {
  background-color: #f3f3f3;
  width: 1440px;
  height: 2423px;
  position: relative;
}

.portfolio-about-page .navigation-bar {
  position: absolute;
  width: 1120px;
  height: 35px;
  top: 102px;
  left: 160px;
}

.portfolio-about-page .site-logo {
  position: absolute;
  width: 67px;
  height: 23px;
  top: 10px;
  left: 0;
}

.portfolio-about-page .menu {
  position: absolute;
  width: 408px;
  height: 20px;
  top: 13px;
  left: 712px;
}

.portfolio-about-page .about {
  position: absolute;
  width: 59px;
  height: 20px;
  top: 0;
  left: 104px;
}

.portfolio-about-page .text-wrapper {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: var(--navigation-font-family);
  font-weight: var(--navigation-font-weight);
  color: var(--main-black);
  font-size: var(--navigation-font-size);
  letter-spacing: var(--navigation-letter-spacing);
  line-height: var(--navigation-line-height);
  white-space: nowrap;
  font-style: var(--navigation-font-style);
}

.portfolio-about-page .contact {
  position: absolute;
  width: 77px;
  height: 20px;
  top: 0;
  left: 331px;
}

.portfolio-about-page .projects {
  position: absolute;
  width: 104px;
  height: 20px;
  top: 0;
  left: 214px;
}

.portfolio-about-page .projects-wrapper {
  width: 104px;
  height: 20px;
  top: 0;
  position: absolute;
  left: 0;
}

.portfolio-about-page .about-2 {
  position: absolute;
  width: 1124px;
  height: 639px;
  top: 311px;
  left: 160px;
}

.portfolio-about-page .hi-i-m-manue-alaimo {
  position: absolute;
  width: 480px;
  top: 0;
  left: 0;
  font-family: var(--heading-1-font-family);
  font-weight: var(--heading-1-font-weight);
  color: var(--main-black);
  font-size: var(--heading-1-font-size);
  letter-spacing: var(--heading-1-letter-spacing);
  line-height: var(--heading-1-line-height);
  font-style: var(--heading-1-font-style);
}

.portfolio-about-page .a-recent-graduate-of {
  position: absolute;
  width: 575px;
  top: 280px;
  left: 0;
  font-family: var(--heading-2-font-family);
  font-weight: var(--heading-2-font-weight);
  color: var(--main-gray);
  font-size: var(--heading-2-font-size);
  letter-spacing: var(--heading-2-letter-spacing);
  line-height: var(--heading-2-line-height);
  font-style: var(--heading-2-font-style);
}

.portfolio-about-page .profile-photo {
  position: absolute;
  width: 421px;
  height: 590px;
  top: 49px;
  left: 699px;
  object-fit: cover;
}

.portfolio-about-page .contact-2 {
  position: absolute;
  width: 1128px;
  height: 144px;
  top: 2096px;
  left: 160px;
}

.portfolio-about-page .overlap-group {
  position: absolute;
  width: 347px;
  height: 71px;
  top: 73px;
  left: 0;
}

.portfolio-about-page .text-wrapper-2 {
  position: absolute;
  width: 347px;
  top: 0;
  left: 0;
  font-family: var(--heading-2-font-family);
  font-weight: var(--heading-2-font-weight);
  color: var(--main-black);
  font-size: var(--heading-2-font-size);
  letter-spacing: var(--heading-2-letter-spacing);
  line-height: var(--heading-2-line-height);
  font-style: var(--heading-2-font-style);
}

.portfolio-about-page .image {
  position: absolute;
  width: 24px;
  height: 21px;
  top: 44px;
  left: 288px;
}

.portfolio-about-page .seperator {
  position: absolute;
  width: 1120px;
  height: 2px;
  top: 0;
  left: 0;
}

.portfolio-about-page .overlap {
  position: absolute;
  width: 363px;
  height: 79px;
  top: 65px;
  left: 759px;
}

.portfolio-about-page .text-wrapper-3 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--heading-2-font-family);
  font-weight: var(--heading-2-font-weight);
  color: var(--main-black);
  font-size: var(--heading-2-font-size);
  letter-spacing: var(--heading-2-letter-spacing);
  line-height: var(--heading-2-line-height);
  font-style: var(--heading-2-font-style);
}

.portfolio-about-page .text-wrapper-4 {
  position: absolute;
  top: 57px;
  left: 253px;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--main-black);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  white-space: nowrap;
  font-style: var(--body-font-style);
}

.portfolio-about-page .info {
  position: absolute;
  width: 1134px;
  height: 321px;
  top: 1086px;
  left: 160px;
}

.portfolio-about-page .p {
  position: absolute;
  width: 401px;
  top: 159px;
  left: 187px;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--main-black);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  font-style: var(--body-font-style);
}

.portfolio-about-page .text-wrapper-5 {
  position: absolute;
  width: 124px;
  top: 3px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: var(--main-black);
  font-size: 18px;
  letter-spacing: -0.54px;
  line-height: 21.9px;
  text-decoration: underline;
  white-space: nowrap;
}

.portfolio-about-page .text-wrapper-6 {
  position: absolute;
  width: 124px;
  top: 152px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: var(--main-black);
  font-size: 18px;
  letter-spacing: -0.54px;
  line-height: 21.9px;
  text-decoration: underline;
  white-space: nowrap;
}

.portfolio-about-page .text-wrapper-7 {
  position: absolute;
  width: 436px;
  top: 0;
  left: 187px;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--main-black);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  white-space: nowrap;
  font-style: var(--body-font-style);
}

.portfolio-about-page .text-wrapper-8 {
  position: absolute;
  top: 197px;
  left: 187px;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--main-black);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  white-space: nowrap;
  font-style: var(--body-font-style);
}

.portfolio-about-page .docker-AWS-postman {
  position: absolute;
  top: 235px;
  left: 187px;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--main-black);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  white-space: nowrap;
  font-style: var(--body-font-style);
}

.portfolio-about-page .text-wrapper-9 {
  position: absolute;
  top: 43px;
  left: 187px;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--main-black);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  white-space: nowrap;
  font-style: var(--body-font-style);
}

.portfolio-about-page .img {
  position: absolute;
  width: 1120px;
  height: 2px;
  top: 319px;
  left: 0;
}

.portfolio-about-page .footer {
  position: absolute;
  width: 1120px;
  height: 20px;
  top: 2334px;
  left: 160px;
  background-color: transparent;
}

.portfolio-about-page .text-wrapper-10 {
  position: absolute;
  width: 271px;
  top: -1px;
  left: 0;
  font-family: var(--navigation-font-family);
  font-weight: var(--navigation-font-weight);
  color: var(--secondary);
  font-size: var(--navigation-font-size);
  letter-spacing: var(--navigation-letter-spacing);
  line-height: var(--navigation-line-height);
  white-space: nowrap;
  font-style: var(--navigation-font-style);
}

.portfolio-about-page .text-wrapper-11 {
  position: absolute;
  width: 98px;
  top: -1px;
  left: 921px;
  font-family: var(--navigation-font-family);
  font-weight: var(--navigation-font-weight);
  color: var(--main-black);
  font-size: var(--navigation-font-size);
  letter-spacing: var(--navigation-letter-spacing);
  line-height: var(--navigation-line-height);
  white-space: nowrap;
  font-style: var(--navigation-font-style);
}

.portfolio-about-page .text-wrapper-12 {
  position: absolute;
  width: 69px;
  top: -1px;
  left: 1051px;
  font-family: var(--navigation-font-family);
  font-weight: var(--navigation-font-weight);
  color: var(--main-black);
  font-size: var(--navigation-font-size);
  letter-spacing: var(--navigation-letter-spacing);
  line-height: var(--navigation-line-height);
  white-space: nowrap;
  font-style: var(--navigation-font-style);
}

.portfolio-about-page .experience {
  position: absolute;
  width: 1056px;
  height: 579px;
  top: 1457px;
  left: 160px;
}

.portfolio-about-page .bank {
  position: absolute;
  width: 1062px;
  height: 204px;
  top: 89px;
  left: 0;
}

.portfolio-about-page .text-wrapper-13 {
  position: absolute;
  width: 453px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: var(--main-black);
  font-size: 18px;
  letter-spacing: -0.54px;
  line-height: 21.9px;
  white-space: nowrap;
}

.portfolio-about-page .text-wrapper-14 {
  position: absolute;
  width: 1021px;
  top: 146px;
  left: 33px;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--main-black);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  font-style: var(--body-font-style);
}

.portfolio-about-page .text-wrapper-15 {
  position: absolute;
  width: 1021px;
  top: 63px;
  left: 33px;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--main-black);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  font-style: var(--body-font-style);
}

.portfolio-about-page .image-2 {
  top: 68px;
  position: absolute;
  width: 19px;
  height: 17px;
  left: 0;
}

.portfolio-about-page .image-3 {
  top: 150px;
  position: absolute;
  width: 19px;
  height: 17px;
  left: 0;
}

.portfolio-about-page .text-wrapper-16 {
  position: absolute;
  width: 353px;
  top: 26px;
  left: 0;
  font-family: var(--sub-text-font-family);
  font-weight: var(--sub-text-font-weight);
  color: var(--main-gray);
  font-size: var(--sub-text-font-size);
  letter-spacing: var(--sub-text-letter-spacing);
  line-height: var(--sub-text-line-height);
  white-space: nowrap;
  font-style: var(--sub-text-font-style);
}

.portfolio-about-page .GW {
  position: absolute;
  width: 1062px;
  height: 208px;
  top: 371px;
  left: 0;
}

.portfolio-about-page .text-wrapper-17 {
  position: absolute;
  width: 763px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: var(--main-black);
  font-size: 18px;
  letter-spacing: -0.54px;
  line-height: 21.9px;
  white-space: nowrap;
}

.portfolio-about-page .text-wrapper-18 {
  position: absolute;
  width: 1021px;
  top: 65px;
  left: 33px;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--main-black);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  font-style: var(--body-font-style);
}

.portfolio-about-page .image-4 {
  top: 155px;
  position: absolute;
  width: 19px;
  height: 17px;
  left: 0;
}

.portfolio-about-page .image-5 {
  top: 70px;
  position: absolute;
  width: 19px;
  height: 17px;
  left: 0;
}

.portfolio-about-page .data-structures {
  position: absolute;
  width: 1021px;
  top: 150px;
  left: 33px;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  color: var(--main-black);
  font-size: var(--body-font-size);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  font-style: var(--body-font-style);
}
