.site-logo-icon6 {
  align-self: stretch;
  width: 67.5px;
  position: relative;
  max-height: 100%;
  min-height: 23px;
}
.projects25 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
  min-width: 57px;
}
.projects24 {
  height: 20px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.about13 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
  min-width: 59px;
  flex-shrink: 0;
}
.about12,
.menu-items4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.about12 {
  height: 20px;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.menu-items4 {
  width: 162.9px;
  gap: var(--gap-12xs-2);
}
.projects27 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
  min-width: 78px;
}
.projects26 {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xl) 0 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.contact13 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
  min-width: 78px;
  flex-shrink: 0;
}
.contact12,
.menu-items5,
.menu6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact12 {
  height: 20px;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.menu-items5,
.menu6 {
  gap: var(--gap-smi-4);
}
.menu6 {
  margin: 0;
  gap: var(--gap-32xl-1);
  max-width: 100%;
  text-align: left;
  font-size: var(--navigation-size);
  color: var(--main-black);
  font-family: var(--heading-2);
}
.navigation-bar-frame,
.navigation-bar6 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.navigation-bar6 {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-3xs) 0 var(--padding-11xs);
  gap: var(--gap-xl);
}
.navigation-bar-frame {
  width: 1140px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 176px 0;
}
.fall-2023,
.rl-for-building {
  position: relative;
  letter-spacing: -0.03em;
}
.rl-for-building {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  line-height: 59px;
  font-weight: 500;
  font-family: inherit;
}
.fall-2023 {
  width: 305px;
  font-size: var(--heading-2-size);
  line-height: 38px;
  color: var(--main-gray);
  display: inline-block;
}
.rl-for-building-emissions-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.icon10 {
  width: 33.6px;
  height: 38px;
  position: relative;
}
.city-learn-challenge {
  text-decoration: underline;
}
.city-learn-challenge-2023 {
  color: inherit;
}
.blank-line24,
.blank-line25,
.city-learn-challenge-2023-mu,
.developed-a-new-soft-actor-cri {
  margin: 0;
}
.city-learn-challenge-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 117%;
  font-family: inherit;
}
.frame-section,
.group {
  width: 1120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-28xl);
  max-width: 100%;
  font-size: var(--heading-2-size);
  color: var(--main-gray);
}
.frame-section {
  width: 1178px;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-46xl);
  text-align: left;
  font-size: var(--heading-1-size);
  color: var(--main-black);
  font-family: var(--heading-2);
}
.tech-stack2 {
  align-self: stretch;
  position: relative;
  text-decoration: underline;
  letter-spacing: -0.03em;
  line-height: 121.5%;
  font-weight: 500;
}
.tech-stack-wrapper {
  width: 124px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.blank-line26,
.blank-line27,
.python-stable-baseline {
  margin: 0;
}
.python-stable-baseline-container {
  flex: 1;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 121.5%;
  display: inline-block;
  min-width: 283px;
  max-width: 100%;
}
.frame-parent1 {
  width: 643px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) var(--padding-13xl) 0;
  gap: var(--gap-44xl);
}
.frame-parent1,
.seperator-wrapper1,
.seperator11 {
  box-sizing: border-box;
  max-width: 100%;
}
.seperator11 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-top: 1.5px solid var(--main-black);
}
.seperator-wrapper1 {
  width: 1139.1px;
  height: 1.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 var(--padding-11xs);
}
.sacpng-icon {
  height: 327px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 417px;
}
.blank-line28,
.blank-line29,
.the-upward-trending,
.trained-soft-actor-critic-resu {
  margin: 0;
}
.trained-soft-actor-container {
  height: 399px;
  width: 538px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 121.5%;
  display: inline-block;
  flex-shrink: 0;
  min-width: 538px;
  max-width: 100%;
}
.result-columns,
.sac {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.sac {
  flex: 1;
  gap: var(--gap-24xl);
}
.result-columns {
  width: 1227px;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
}
.district-levelpng-icon {
  height: 444px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 416px;
}
.blank-line30,
.district-level-performance-ind {
  margin: 0;
  white-space: pre-wrap;
}
.blank-line31,
.blank-line32,
.the-building-efficiency,
.the-sac-deployed {
  margin: 0;
}
.blank-line33,
.to-achieve-this {
  margin: 0;
  white-space: pre-wrap;
}
.district-level-performance-container {
  height: 422px;
  width: 593px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 121.5%;
  display: inline-block;
  flex-shrink: 0;
  min-width: 593px;
  max-width: 100%;
}
.district,
.result-columns-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-28xl);
  max-width: 100%;
}
.result-columns-parent {
  flex-direction: column;
  gap: var(--gap-17xl);
}
.building-levelpng-icon {
  height: 436px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 416px;
  min-height: 436px;
}
.blank-line34,
.blank-line35,
.blank-line36,
.blank-line37,
.blank-line38,
.building-level-performance-ind,
.each-training-model,
.here-the-blue,
.individual-buildings-in {
  margin: 0;
}
.building-level-performance-container {
  height: 436px;
  width: 553px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 121.5%;
  display: inline-block;
  flex-shrink: 0;
  min-width: 553px;
  max-width: 100%;
}
.body9,
.building,
.frame-parent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.building {
  width: 1245px;
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-13xl);
}
.body9,
.frame-parent2 {
  align-self: stretch;
  flex-direction: column;
}
.body9 {
  gap: 87px;
}
.frame-parent2 {
  padding: 0 0 57px;
  box-sizing: border-box;
  gap: var(--gap-29xl-5);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--main-black);
  font-family: var(--sub-header-link);
}
.manue-alaimo7 {
  margin: 0;
}
.manue-alaimo-container7 {
  width: 270.8px;
  display: inline-block;
}
.github7,
.linkedin7,
.manue-alaimo-container7 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 20px;
  font-weight: 500;
  flex-shrink: 0;
}
.linkedin7 {
  flex: 1;
}
.github7 {
  display: inline-block;
  min-width: 69.4px;
}
.social-links6 {
  width: 199.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xl-8);
  color: var(--main-black);
}
.footer7,
.portfolio-project-03-page {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.footer7 {
  width: 1140px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: var(--navigation-size);
  color: var(--secondary);
  font-family: var(--heading-2);
}
.portfolio-project-03-page {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-83xl) 0 var(--padding-51xl) var(--padding-141xl);
  gap: var(--gap-28xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--sub-header-link-size);
  color: var(--main-black);
  font-family: var(--sub-header-link);
}
@media screen and (max-width: 1200px) {
  .frame-section {
    gap: var(--gap-13xl);
  }
  .trained-soft-actor-container {
    flex: 1;
  }
  .sac {
    flex-wrap: wrap;
  }
  .district-level-performance-container {
    flex: 1;
  }
  .district {
    flex-wrap: wrap;
  }
  .building-level-performance-container {
    flex: 1;
  }
  .building {
    flex-wrap: wrap;
  }
  .frame-parent2 {
    padding-bottom: 37px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .rl-for-building {
    font-size: var(--font-size-29xl);
    line-height: 47px;
  }
  .city-learn-challenge-container,
  .fall-2023 {
    font-size: var(--font-size-7xl);
    line-height: 30px;
  }
  .building-level-performance-container,
  .district-level-performance-container {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .group {
    gap: var(--gap-4xl);
  }
  .frame-section {
    gap: var(--gap-base);
  }
  .frame-parent1 {
    gap: var(--gap-12xl);
  }
  .sacpng-icon,
  .trained-soft-actor-container {
    min-width: 100%;
  }
  .sac {
    gap: var(--gap-2xl);
  }
  .district-levelpng-icon {
    min-width: 100%;
  }
  .district {
    gap: var(--gap-4xl);
  }
  .result-columns-parent {
    gap: var(--gap-lg);
  }
  .building-levelpng-icon {
    min-width: 100%;
  }
  .building {
    gap: var(--gap-base);
  }
  .body9 {
    gap: var(--gap-24xl);
  }
  .frame-parent2 {
    gap: var(--gap-5xl);
    padding-bottom: 24px;
    box-sizing: border-box;
  }
  .footer7 {
    flex-wrap: wrap;
  }
  .portfolio-project-03-page {
    gap: var(--gap-4xl);
    padding-left: var(--padding-61xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .menu6 {
    gap: var(--gap-7xl);
  }
  .rl-for-building {
    font-size: var(--font-size-17xl);
    line-height: 35px;
  }
  .city-learn-challenge-container,
  .fall-2023 {
    font-size: var(--font-size-lgi);
    line-height: 22px;
  }
  .frame-parent1 {
    gap: var(--gap-base);
  }
  .building-level-performance-container,
  .district-level-performance-container,
  .trained-soft-actor-container {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .body9 {
    gap: var(--gap-3xl);
  }
  .github7,
  .linkedin7,
  .manue-alaimo-container7 {
    font-size: var(--font-size-mid);
    line-height: 20px;
  }
  .portfolio-project-03-page {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
