.site-logo-icon8 {
  align-self: stretch;
  width: 67.5px;
  position: relative;
  max-height: 100%;
  min-height: 23px;
}
.projects33 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
  min-width: 57px;
}
.projects32 {
  height: 20px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.about17 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
  min-width: 59px;
  flex-shrink: 0;
}
.about16,
.projects-about-navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.about16 {
  height: 20px;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.projects-about-navigation {
  width: 162.9px;
  gap: var(--gap-12xs-2);
}
.projects35 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
  min-width: 78px;
}
.projects34 {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xl) 0 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.contact17 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
  min-width: 78px;
  flex-shrink: 0;
}
.contact16,
.projects-about-navigation1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact16 {
  height: 20px;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.projects-about-navigation1 {
  gap: var(--gap-smi-4);
}
.frame-header,
.menu8,
.navigation-bar8 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.menu8 {
  margin: 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-32xl-1);
  text-align: left;
  font-size: var(--navigation-size);
  color: var(--main-black);
  font-family: var(--heading-2);
}
.frame-header,
.navigation-bar8 {
  box-sizing: border-box;
}
.navigation-bar8 {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-3xs) 0 var(--padding-11xs);
  gap: var(--gap-xl);
}
.frame-header {
  width: 1120px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 99px;
}
.spring-20231,
.wizdom-wizard {
  position: relative;
  letter-spacing: -0.03em;
}
.wizdom-wizard {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  line-height: 59px;
  font-weight: 500;
  font-family: inherit;
}
.spring-20231 {
  width: 305px;
  font-size: var(--heading-2-size);
  line-height: 38px;
  color: var(--main-gray);
  display: inline-block;
}
.wizdom-wizard-parent {
  width: 1082px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
  max-width: 100%;
}
.icon12 {
  width: 33.6px;
  height: 38px;
  position: relative;
}
.an-android-application1,
.blank-line43,
.integrated-with-localization {
  margin: 0;
}
.an-android-application-container1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 117%;
  font-weight: 400;
  font-family: inherit;
}
.frame-parent4,
.parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent1 {
  gap: var(--gap-28xl);
  font-size: var(--heading-2-size);
  color: var(--main-gray);
}
.frame-parent4 {
  gap: var(--gap-46xl);
  max-width: 100%;
}
.tech-stack4 {
  align-self: stretch;
  position: relative;
  text-decoration: underline;
  letter-spacing: -0.03em;
  line-height: 121.5%;
  font-weight: 500;
}
.tech-stack-frame {
  width: 124px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.blank-line44,
.blank-line45,
.kotlin-firebase-realtime {
  margin: 0;
}
.kotlin-firebase-realtime-container {
  flex: 1;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 121.5%;
  display: inline-block;
  min-width: 283px;
  max-width: 100%;
}
.frame-parent6 {
  width: 623px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-44xl);
  max-width: 100%;
}
.seperator-wrapper2,
.seperator13 {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.seperator13 {
  flex: 1;
  position: relative;
  border-top: 1.5px solid var(--main-black);
}
.seperator-wrapper2 {
  height: 59px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 57.5px;
}
.youtube-and-vimeo-video2 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.watch-demo-video2 {
  width: 305px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 30px;
  display: inline-block;
}
.youtube-and-vimeo-video-group {
  width: 710px;
  height: 488px;
  gap: var(--gap-lgi);
  font-size: var(--font-size-5xl);
}
.frame-parent3,
.frame-parent5,
.youtube-and-vimeo-video-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent5 {
  align-self: stretch;
  gap: 1px;
  font-size: var(--sub-header-link-size);
  font-family: var(--sub-header-link);
}
.frame-parent3 {
  width: 1120px;
  gap: 84px;
  text-align: left;
  font-size: var(--heading-1-size);
  color: var(--main-black);
  font-family: var(--heading-2);
}
.portfolio-project-04-page-child {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.img-4390-1-2 {
  width: 1024px;
  height: 768px;
  position: relative;
  display: none;
  max-width: 100%;
}
.manue-alaimo9 {
  margin: 0;
}
.manue-alaimo-container9 {
  width: 270.8px;
  display: inline-block;
}
.github9,
.linkedin9,
.manue-alaimo-container9 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 20px;
  font-weight: 500;
  flex-shrink: 0;
}
.linkedin9 {
  flex: 1;
}
.github9 {
  display: inline-block;
  min-width: 69.4px;
}
.footer9,
.social-links7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.social-links7 {
  width: 199.4px;
  justify-content: flex-start;
  gap: var(--gap-12xl-8);
  color: var(--main-black);
}
.footer9 {
  width: 1120px;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.portfolio-project-04-page {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-83xl) var(--padding-xl) 68px;
  box-sizing: border-box;
  gap: var(--gap-105xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--navigation-size);
  color: var(--secondary);
  font-family: var(--heading-2);
}
@media screen and (max-width: 1125px) {
  .frame-parent4 {
    gap: var(--gap-13xl);
  }
  .frame-parent3 {
    gap: 42px;
  }
  .portfolio-project-04-page {
    gap: var(--gap-43xl);
  }
}
@media screen and (max-width: 1050px) {
  .wizdom-wizard {
    font-size: var(--font-size-29xl);
    line-height: 47px;
  }
  .an-android-application-container1,
  .spring-20231 {
    font-size: var(--font-size-7xl);
    line-height: 30px;
  }
}
@media screen and (max-width: 750px) {
  .parent1 {
    gap: var(--gap-4xl);
  }
  .frame-parent4 {
    gap: var(--gap-base);
  }
  .frame-parent6 {
    gap: var(--gap-12xl);
  }
  .frame-parent3 {
    gap: var(--gap-2xl);
  }
  .footer9 {
    flex-wrap: wrap;
  }
  .portfolio-project-04-page {
    gap: var(--gap-12xl);
  }
}
@media screen and (max-width: 450px) {
  .menu8 {
    gap: var(--gap-7xl);
  }
  .wizdom-wizard {
    font-size: var(--font-size-17xl);
    line-height: 35px;
  }
  .an-android-application-container1,
  .spring-20231 {
    font-size: var(--font-size-lgi);
    line-height: 22px;
  }
  .frame-parent6 {
    gap: var(--gap-base);
  }
  .watch-demo-video2 {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .github9,
  .linkedin9,
  .manue-alaimo-container9 {
    font-size: var(--font-size-mid);
    line-height: 20px;
  }
  .portfolio-project-04-page {
    gap: var(--gap-mini);
  }
}
