.site-logo-icon5 {
  align-self: stretch;
  width: 67.5px;
  position: relative;
  max-height: 100%;
  min-height: 23px;
}
.projects21 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
  min-width: 57px;
}
.projects20 {
  height: 20px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.about11 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
  min-width: 59px;
  flex-shrink: 0;
}
.about10,
.menu-links2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.about10 {
  height: 20px;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.menu-links2 {
  width: 162.9px;
  gap: var(--gap-12xs-2);
}
.projects23 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
  min-width: 78px;
}
.projects22 {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xl) 0 0;
  box-sizing: border-box;
}
.contact11 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
  min-width: 78px;
  flex-shrink: 0;
}
.contact10,
.menu-links3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact10 {
  height: 20px;
  padding: 0;
  box-sizing: border-box;
}
.menu-links3 {
  gap: var(--gap-smi-4);
}
.content2,
.menu5,
.navigation-bar5 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.menu5 {
  margin: 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-32xl-1);
  text-align: left;
  font-size: var(--navigation-size);
  color: var(--main-black);
  font-family: var(--heading-2);
}
.content2,
.navigation-bar5 {
  box-sizing: border-box;
}
.navigation-bar5 {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-3xs) 0 var(--padding-11xs);
  gap: var(--gap-xl);
}
.content2 {
  width: 1120px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 269px;
}
.news-headline-mobile,
.spring-2024 {
  position: relative;
  letter-spacing: -0.03em;
}
.news-headline-mobile {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  line-height: 59px;
  font-weight: 500;
  font-family: inherit;
}
.spring-2024 {
  width: 305px;
  font-size: var(--heading-2-size);
  line-height: 38px;
  color: var(--main-gray);
  display: inline-block;
}
.news-headline-mobile-app-parent {
  width: 1082px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
  max-width: 100%;
}
.icon9 {
  width: 33.6px;
  height: 38px;
  position: relative;
}
.an-android-application,
.application-includes-data,
.blank-line18,
.blank-line19,
.blank-line20,
.blank-line21 {
  margin: 0;
}
.an-android-application-container {
  margin: 0;
  align-self: stretch;
  height: 321px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 117%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.description1,
.frame-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.description1 {
  align-self: stretch;
  gap: var(--gap-28xl);
  font-size: var(--heading-2-size);
  color: var(--main-gray);
}
.frame-container {
  width: 1120px;
  gap: var(--gap-46xl);
  max-width: 100%;
  margin-top: -46px;
  text-align: left;
  font-size: var(--heading-1-size);
  color: var(--main-black);
  font-family: var(--heading-2);
}
.tech-stack1 {
  width: 124px;
  position: relative;
  text-decoration: underline;
  letter-spacing: -0.03em;
  line-height: 121.5%;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.blank-line22,
.blank-line23,
.kotlin-google-maps {
  margin: 0;
}
.kotlin-google-maps-container {
  align-self: stretch;
  height: -0.6px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 121.5%;
  display: inline-block;
  flex-shrink: 0;
}
.stack-title,
.technologies {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.technologies {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
  min-width: 283px;
  min-height: 10px;
}
.stack-title {
  width: 623px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-44xl);
}
.frame-div,
.seperator10 {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.seperator10 {
  flex: 1;
  position: relative;
  border-top: 1.5px solid var(--main-black);
}
.frame-div {
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 14.5px;
}
.youtube-and-vimeo-video {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.watch-demo-video {
  width: 288px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 30px;
  display: inline-block;
}
.stack-title-parent,
.youtube-and-vimeo-video-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.youtube-and-vimeo-video-parent {
  width: 710px;
  height: 488px;
  gap: var(--gap-lgi);
  font-size: var(--font-size-5xl);
}
.stack-title-parent {
  width: 1115.1px;
  padding: 0 0 158px;
  box-sizing: border-box;
  gap: var(--gap-34xl);
  margin-top: -46px;
  text-align: left;
  font-size: var(--sub-header-link-size);
  color: var(--main-black);
  font-family: var(--sub-header-link);
}
.portfolio-project-06-page-child {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  z-index: 4;
}
.manue-alaimo6 {
  margin: 0;
}
.manue-alaimo-container6 {
  width: 270.8px;
  display: inline-block;
  flex-shrink: 0;
}
.github6,
.linkedin6,
.manue-alaimo-container6 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 20px;
  font-weight: 500;
}
.linkedin6 {
  flex: 1;
}
.github6 {
  display: inline-block;
  min-width: 69.4px;
}
.footer6,
.social-links5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.social-links5 {
  width: 199.4px;
  justify-content: flex-start;
  gap: var(--gap-12xl-8);
  color: var(--main-black);
}
.footer6 {
  width: 1120px;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  margin-top: -46px;
}
.portfolio-project-06-page {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-83xl) var(--padding-xl) var(--padding-61xl);
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--navigation-size);
  color: var(--secondary);
  font-family: var(--heading-2);
}
@media screen and (max-width: 1125px) {
  .frame-container {
    gap: var(--gap-13xl);
  }
}
@media screen and (max-width: 1025px) {
  .news-headline-mobile {
    font-size: var(--font-size-29xl);
    line-height: 47px;
  }
  .an-android-application-container,
  .spring-2024 {
    font-size: var(--font-size-7xl);
    line-height: 30px;
  }
  .stack-title-parent {
    padding-bottom: 103px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .description1 {
    gap: var(--gap-4xl);
  }
  .frame-container {
    gap: var(--gap-base);
  }
  .stack-title {
    gap: var(--gap-12xl);
  }
  .stack-title-parent {
    gap: var(--gap-7xl);
  }
  .footer6 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .menu5 {
    gap: var(--gap-7xl);
  }
  .news-headline-mobile {
    font-size: var(--font-size-17xl);
    line-height: 35px;
  }
  .an-android-application-container,
  .spring-2024 {
    font-size: var(--font-size-lgi);
    line-height: 22px;
  }
  .stack-title {
    gap: var(--gap-base);
  }
  .watch-demo-video {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .stack-title-parent {
    padding-bottom: 67px;
    box-sizing: border-box;
  }
  .github6,
  .linkedin6,
  .manue-alaimo-container6 {
    font-size: var(--font-size-mid);
    line-height: 20px;
  }
}
