.site-logo-icon9 {
  align-self: stretch;
  width: 67.5px;
  position: relative;
  max-height: 100%;
  min-height: 23px;
}
.projects37 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
  min-width: 57px;
}
.projects36 {
  height: 20px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.about19 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
  min-width: 59px;
  flex-shrink: 0;
}
.about18,
.menu-links6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.about18 {
  height: 20px;
  padding: 0;
  box-sizing: border-box;
}
.menu-links6 {
  width: 162.9px;
  gap: var(--gap-12xs-2);
}
.projects39 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
  min-width: 78px;
}
.projects38 {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xl) 0 0;
  box-sizing: border-box;
}
.contact19 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
  min-width: 78px;
  flex-shrink: 0;
}
.contact18,
.menu-links7,
.menu9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact18 {
  height: 20px;
  padding: 0;
  box-sizing: border-box;
}
.menu-links7,
.menu9 {
  gap: var(--gap-smi-4);
}
.menu9 {
  margin: 0;
  gap: var(--gap-32xl-1);
  max-width: 100%;
  text-align: left;
  font-size: var(--navigation-size);
  color: var(--main-black);
  font-family: var(--heading-2);
}
.navigation-bar-wrapper1,
.navigation-bar9 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.navigation-bar9 {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-3xs) 0 var(--padding-11xs);
  gap: var(--gap-xl);
}
.navigation-bar-wrapper1 {
  width: 1120px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 79px;
}
.university-registration-system {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 59px;
  font-weight: 500;
  font-family: inherit;
}
.spring-2022 {
  width: 305px;
  position: relative;
  font-size: var(--heading-2-size);
  letter-spacing: -0.03em;
  line-height: 38px;
  color: var(--main-gray);
  display: inline-block;
}
.title {
  width: 1082px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-lg);
  max-width: 100%;
}
.icon13 {
  width: 33.6px;
  height: 38px;
  position: relative;
}
.blank-line46,
.hosted-in-the,
.students-applications-and {
  margin: 0;
}
.hosted-in-the-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 117%;
  font-weight: 400;
  font-family: inherit;
}
.description3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-28xl);
  font-size: var(--heading-2-size);
  color: var(--main-gray);
}
.tech-stack6 {
  align-self: stretch;
  position: relative;
  text-decoration: underline;
  letter-spacing: -0.03em;
  line-height: 121.5%;
  font-weight: 500;
}
.tech-stack-list {
  width: 124px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.blank-line47,
.blank-line48,
.python-flask-sql {
  margin: 0;
}
.python-flask-sql-container {
  flex: 1;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 121.5%;
  display: inline-block;
  min-width: 283px;
  max-width: 100%;
}
.hero2,
.tech-stack5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.tech-stack5 {
  width: 623px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-44xl);
  font-size: var(--sub-header-link-size);
  font-family: var(--sub-header-link);
}
.hero2 {
  width: 1120px;
  flex-direction: column;
  gap: var(--gap-28xl);
  text-align: left;
  font-size: var(--heading-1-size);
  color: var(--main-black);
  font-family: var(--heading-2);
}
.formpng-icon,
.seperator14 {
  position: relative;
  max-width: 100%;
}
.seperator14 {
  width: 1116.6px;
  height: 1.5px;
  border-top: 1.5px solid var(--main-black);
  box-sizing: border-box;
}
.formpng-icon {
  height: 365px;
  flex: 1;
  overflow: hidden;
  object-fit: cover;
  min-width: 416px;
}
.allows-any-user,
.blank-line49,
.blank-line50,
.user-view-form-example {
  margin: 0;
}
.user-view-container {
  height: 352.4px;
  width: 498px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 121.5%;
  display: inline-block;
  flex-shrink: 0;
  min-width: 498px;
  max-width: 100%;
}
.form-image-container {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-27xl);
}
.form-image-container,
.form-view,
.seperator-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.form-view {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 30px;
  box-sizing: border-box;
  flex-shrink: 0;
}
.seperator-parent1 {
  flex: 1;
  flex-direction: column;
  gap: 43.6px;
}
.gradsecpng-icon,
.user-view {
  align-self: stretch;
  max-width: 100%;
}
.user-view {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-18xl-5) var(--padding-11xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--main-black);
  font-family: var(--sub-header-link);
}
.gradsecpng-icon {
  height: 365px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.roles-image-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 53.6px 0 0;
  box-sizing: border-box;
  min-width: 416px;
  max-width: 100%;
}
.allows-the-graduate,
.blank-line51,
.user-view-graduate-secretary {
  margin: 0;
}
.user-view-container1 {
  height: 299.3px;
  width: 490px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 121.5%;
  display: inline-block;
  flex-shrink: 0;
  min-width: 490px;
  max-width: 100%;
}
.facultypng-icon,
.role-images {
  align-self: stretch;
  max-width: 100%;
}
.role-images {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-27xl);
}
.facultypng-icon {
  height: 365px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.facultypng-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 69.3px 0 0;
  box-sizing: border-box;
  min-width: 416px;
  max-width: 100%;
}
.allows-a-faculty,
.blank-line52,
.user-view-faculty {
  margin: 0;
}
.user-view-container2 {
  height: 196px;
  width: 490px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 121.5%;
  display: inline-block;
  flex-shrink: 0;
  min-width: 490px;
  max-width: 100%;
}
.role-images1 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-27xl);
}
.content4,
.role-images1,
.role-views,
.roles {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.role-views {
  flex: 1;
  flex-direction: column;
  gap: 19.7px;
}
.content4,
.roles {
  align-self: stretch;
}
.roles {
  flex-direction: row;
  padding: 0 var(--padding-5xs) 0 var(--padding-13xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--main-black);
  font-family: var(--sub-header-link);
}
.content4 {
  flex-direction: column;
  gap: 42.9px;
}
.manue-alaimo10 {
  margin: 0;
}
.manue-alaimo-container10 {
  width: 270.8px;
  display: inline-block;
  flex-shrink: 0;
}
.github10,
.linkedin10,
.manue-alaimo-container10 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 20px;
  font-weight: 500;
}
.linkedin10 {
  flex: 1;
}
.github10 {
  display: inline-block;
  min-width: 69.4px;
}
.footer10,
.social-links8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.social-links8 {
  width: 199.4px;
  justify-content: flex-start;
  gap: var(--gap-12xl-8);
  flex-shrink: 0;
  color: var(--main-black);
}
.footer10 {
  width: 1120px;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.portfolio-project-05-page {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-83xl) var(--padding-45xl) var(--padding-43xl)
    var(--padding-141xl);
  box-sizing: border-box;
  gap: 144px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--navigation-size);
  color: var(--secondary);
  font-family: var(--heading-2);
}
@media screen and (max-width: 1200px) {
  .user-view-container {
    flex: 1;
  }
  .form-image-container {
    flex-wrap: wrap;
  }
  .user-view-container1 {
    flex: 1;
  }
  .role-images {
    flex-wrap: wrap;
  }
  .user-view-container2 {
    flex: 1;
  }
  .role-images1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .user-view-container,
  .user-view-container1,
  .user-view-container2 {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .menu9 {
    display: none;
  }
  .university-registration-system {
    font-size: var(--font-size-29xl);
    line-height: 47px;
  }
  .hosted-in-the-container,
  .spring-2022 {
    font-size: var(--font-size-7xl);
    line-height: 30px;
  }
  .description3 {
    gap: var(--gap-4xl);
  }
  .tech-stack5 {
    gap: var(--gap-12xl);
  }
  .hero2 {
    gap: var(--gap-4xl);
  }
  .formpng-icon {
    min-width: 100%;
  }
  .form-image-container {
    gap: var(--gap-4xl);
  }
  .seperator-parent1 {
    gap: var(--gap-3xl);
  }
  .roles-image-container {
    min-width: 100%;
  }
  .role-images {
    gap: var(--gap-4xl);
  }
  .facultypng-wrapper {
    min-width: 100%;
  }
  .role-images1 {
    gap: var(--gap-4xl);
  }
  .content4 {
    gap: var(--gap-2xl);
  }
  .footer10 {
    flex-wrap: wrap;
  }
  .portfolio-project-05-page {
    gap: 72px;
    padding-left: var(--padding-61xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .menu9 {
    gap: var(--gap-7xl);
  }
  .university-registration-system {
    font-size: var(--font-size-17xl);
    line-height: 35px;
  }
  .hosted-in-the-container,
  .spring-2022 {
    font-size: var(--font-size-lgi);
    line-height: 22px;
  }
  .tech-stack5 {
    gap: var(--gap-base);
  }
  .user-view-container {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .roles-image-container {
    padding-top: 35px;
    box-sizing: border-box;
  }
  .user-view-container1 {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .facultypng-wrapper {
    padding-top: 45px;
    box-sizing: border-box;
  }
  .user-view-container2 {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
  .github10,
  .linkedin10,
  .manue-alaimo-container10 {
    font-size: var(--font-size-mid);
    line-height: 20px;
  }
  .portfolio-project-05-page {
    gap: var(--gap-17xl);
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
