.site-logo-icon9 {
  position: absolute;
  height: 65.71%;
  width: 6.03%;
  top: 28.57%;
  right: 93.97%;
  bottom: 5.71%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.about19 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 500;
}
.about18 {
  height: 100%;
  width: 14.34%;
  right: 60.07%;
  bottom: 0;
  left: 25.59%;
}
.about18,
.contact18,
.contact19 {
  position: absolute;
  top: 0;
}
.contact19 {
  left: 0;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 500;
}
.contact18 {
  height: 100%;
  width: 18.97%;
  right: 0;
  bottom: 0;
  left: 81.03%;
}
.projects37 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 500;
}
.projects36 {
  position: absolute;
  height: 100%;
  width: 25.54%;
  top: 0;
  right: 22.01%;
  bottom: 0;
  left: 52.45%;
}
.projects39 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 500;
}
.menu9,
.projects38 {
  position: absolute;
  height: 100%;
  width: 25.54%;
  top: 0;
  right: 74.46%;
  bottom: 0;
  left: 0;
}
.menu9 {
  height: 57.14%;
  width: 36.43%;
  top: 37.14%;
  right: 0;
  bottom: 5.71%;
  left: 63.57%;
}
.navigation-bar9 {
  position: absolute;
  top: 102px;
  left: calc(50% - 560px);
  width: 1120px;
  height: 35px;
}
.frame1 {
  position: absolute;
  top: 322px;
  left: 160px;
  width: 1147px;
  height: 3555px;
  overflow: hidden;
}
.manue-alaimo10 {
  margin: 0;
}
.github10,
.linkedin10,
.manue-alaimo-container10 {
  position: absolute;
  height: 100%;
  top: 0;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
}
.manue-alaimo-container10 {
  width: 24.18%;
  left: 0;
  color: var(--secondary);
}
.github10,
.linkedin10 {
  width: 8.77%;
  left: 82.2%;
}
.github10 {
  width: 6.2%;
  left: 93.8%;
}
.footer10,
.project-name3 {
  position: absolute;
  top: 3268px;
  left: 19px;
  width: 1120px;
  height: 20px;
}
.project-name3 {
  height: 4.02%;
  width: 29.13%;
  top: 0;
  left: 0;
  letter-spacing: -0.03em;
  line-height: 121.5%;
  font-weight: 500;
  display: inline-block;
}
.subsurface-weight-specular1 {
  height: 35.73%;
  width: 31.79%;
  top: 9.3%;
  display: inline-block;
}
.link3,
.sculpted-in-zbrush3,
.subsurface-weight-specular1 {
  position: absolute;
  left: 0;
  letter-spacing: -0.03em;
  line-height: 121.5%;
}
.sculpted-in-zbrush3 {
  height: 7.4%;
  width: 28.15%;
  top: 30.66%;
  font-size: var(--sub-text-size);
  color: var(--main-gray);
  display: none;
}
.link3 {
  height: 4.23%;
  width: 29.13%;
  top: 73.36%;
  text-decoration: underline;
  font-weight: 500;
  display: inline-block;
}
.thumbnail3 {
  position: absolute;
  height: 77.1%;
  width: 57.14%;
  top: 0;
  right: 0;
  bottom: 22.9%;
  left: 42.86%;
  background-color: var(--main-gray);
  display: none;
}
.seperator9 {
  position: absolute;
  height: 0.32%;
  width: 99.7%;
  top: 99.85%;
  right: -0.34%;
  bottom: -0.17%;
  left: 0.64%;
  border-top: 1.5px solid var(--main-black);
  box-sizing: border-box;
}
.body4,
.pipng-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1120px;
  height: 473px;
}
.pipng-icon {
  left: 488px;
  width: 640px;
  height: 365px;
  object-fit: cover;
}
.iot,
.project-name4 {
  position: absolute;
  top: 544px;
  left: 11px;
  width: 1128px;
  height: 473px;
}
.project-name4 {
  height: 4.02%;
  width: 29.13%;
  top: 0;
  left: 0;
  letter-spacing: -0.03em;
  line-height: 121.5%;
  font-weight: 500;
  display: inline-block;
}
.experimental-creature-modeling1 {
  height: 35.73%;
  width: 31.79%;
  top: 9.3%;
  display: inline-block;
}
.experimental-creature-modeling1,
.link4,
.sculpted-in-zbrush4 {
  position: absolute;
  left: 0;
  letter-spacing: -0.03em;
  line-height: 121.5%;
}
.sculpted-in-zbrush4 {
  height: 7.4%;
  width: 28.15%;
  top: 30.66%;
  font-size: var(--sub-text-size);
  color: var(--main-gray);
  display: none;
}
.link4 {
  height: 4.23%;
  width: 29.13%;
  top: 73.36%;
  text-decoration: underline;
  font-weight: 500;
  display: inline-block;
}
.thumbnail4 {
  position: absolute;
  height: 77.1%;
  width: 57.14%;
  top: 0;
  right: 0;
  bottom: 22.9%;
  left: 42.86%;
  background-color: var(--main-gray);
  display: none;
}
.seperator10 {
  position: absolute;
  height: 0.32%;
  width: 99.7%;
  top: 99.85%;
  right: -0.34%;
  bottom: -0.17%;
  left: 0.64%;
  border-top: 1.5px solid var(--main-black);
  box-sizing: border-box;
}
.body5 {
  position: absolute;
  top: 2px;
  left: 0;
  width: 1120px;
  height: 473px;
}
.rl-modelpng-icon {
  position: absolute;
  top: 0;
  left: 488px;
  width: 640px;
  height: 367px;
  object-fit: cover;
}
.project-name5,
.rl {
  position: absolute;
  top: 1086px;
  left: 11px;
  width: 1128px;
  height: 475px;
}
.project-name5 {
  height: 4.02%;
  width: 29.13%;
  top: 0;
  left: 0;
  letter-spacing: -0.03em;
  line-height: 121.5%;
  font-weight: 500;
  display: inline-block;
}
.experimental-creature-modeling2 {
  height: 35.73%;
  width: 31.79%;
  top: 9.3%;
  display: inline-block;
}
.experimental-creature-modeling2,
.link5,
.sculpted-in-zbrush5 {
  position: absolute;
  left: 0;
  letter-spacing: -0.03em;
  line-height: 121.5%;
}
.sculpted-in-zbrush5 {
  height: 7.4%;
  width: 28.15%;
  top: 30.66%;
  font-size: var(--sub-text-size);
  color: var(--main-gray);
  display: none;
}
.link5 {
  height: 4.23%;
  width: 29.13%;
  top: 73.36%;
  text-decoration: underline;
  font-weight: 500;
  display: inline-block;
}
.thumbnail5 {
  position: absolute;
  height: 77.1%;
  width: 57.14%;
  top: 0;
  right: 0;
  bottom: 22.9%;
  left: 42.86%;
  background-color: var(--main-gray);
  display: none;
}
.seperator11 {
  position: absolute;
  height: 0.32%;
  width: 99.7%;
  top: 99.85%;
  right: -0.34%;
  bottom: -0.17%;
  left: 0.64%;
  border-top: 1.5px solid var(--main-black);
  box-sizing: border-box;
}
.body6,
.wizardpng-icon {
  position: absolute;
  top: 41px;
  left: 0;
  width: 1120px;
  height: 473px;
}
.wizardpng-icon {
  top: 0;
  left: 662px;
  width: 275px;
  height: 461px;
  object-fit: cover;
}
.project-name6,
.wizard {
  position: absolute;
  top: 1591px;
  left: 11px;
  width: 1120px;
  height: 514px;
}
.project-name6 {
  height: 4.02%;
  width: 29.13%;
  top: 0;
  left: 0;
  letter-spacing: -0.03em;
  line-height: 121.5%;
  font-weight: 500;
  display: inline-block;
}
.experimental-creature-modeling3 {
  height: 35.73%;
  width: 31.79%;
  top: 9.3%;
  display: inline-block;
}
.experimental-creature-modeling3,
.link6,
.sculpted-in-zbrush6 {
  position: absolute;
  left: 0;
  letter-spacing: -0.03em;
  line-height: 121.5%;
}
.sculpted-in-zbrush6 {
  height: 7.4%;
  width: 28.15%;
  top: 30.66%;
  font-size: var(--sub-text-size);
  color: var(--main-gray);
  display: none;
}
.link6 {
  height: 4.23%;
  width: 29.13%;
  top: 73.36%;
  text-decoration: underline;
  font-weight: 500;
  display: inline-block;
}
.thumbnail6 {
  position: absolute;
  height: 77.1%;
  width: 57.14%;
  top: 0;
  right: 0;
  bottom: 22.9%;
  left: 42.86%;
  background-color: var(--main-gray);
  display: none;
}
.seperator12 {
  position: absolute;
  height: 0.32%;
  width: 99.7%;
  top: 99.85%;
  right: -0.34%;
  bottom: -0.17%;
  left: 0.64%;
  border-top: 1.5px solid var(--main-black);
  box-sizing: border-box;
}
.body7,
.newspng-icon {
  position: absolute;
  top: 19px;
  left: 0;
  width: 1120px;
  height: 473px;
}
.newspng-icon {
  top: 0;
  left: 675px;
  width: 217px;
  height: 463px;
  object-fit: cover;
}
.news,
.project-name7 {
  position: absolute;
  top: 2701px;
  left: 27px;
  width: 1120px;
  height: 492px;
}
.project-name7 {
  height: 4.02%;
  width: 29.13%;
  top: 0;
  left: 0;
  letter-spacing: -0.03em;
  line-height: 121.5%;
  font-weight: 500;
  display: inline-block;
}
.blank-line49,
.blank-line50,
.university-software-for {
  margin: 0;
}
.experimental-creature-modeling-container {
  height: 35.73%;
  width: 31.79%;
  top: 9.3%;
  display: inline-block;
}
.experimental-creature-modeling-container,
.link7,
.sculpted-in-zbrush7 {
  position: absolute;
  left: 0;
  letter-spacing: -0.03em;
  line-height: 121.5%;
}
.sculpted-in-zbrush7 {
  height: 7.4%;
  width: 28.15%;
  top: 30.66%;
  font-size: var(--sub-text-size);
  color: var(--main-gray);
  display: none;
}
.link7 {
  height: 4.23%;
  width: 29.13%;
  top: 73.36%;
  text-decoration: underline;
  font-weight: 500;
  display: inline-block;
}
.thumbnail7 {
  position: absolute;
  height: 77.1%;
  width: 57.14%;
  top: 0;
  right: 0;
  bottom: 22.9%;
  left: 42.86%;
  background-color: var(--main-gray);
  display: none;
}
.seperator13 {
  position: absolute;
  height: 0.32%;
  width: 99.7%;
  top: 99.85%;
  right: -0.34%;
  bottom: -0.17%;
  left: 0.64%;
  border-top: 1.5px solid var(--main-black);
  box-sizing: border-box;
}
.body8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1120px;
  height: 473px;
}
.universitypng-icon {
  position: absolute;
  top: 10px;
  left: 472px;
  width: 640px;
  height: 365px;
  object-fit: cover;
}
.project-name8,
.university {
  position: absolute;
  top: 2176px;
  left: 19px;
  width: 1120px;
  height: 473px;
}
.project-name8 {
  height: 4.02%;
  width: 29.13%;
  top: 0;
  left: 0;
  letter-spacing: -0.03em;
  line-height: 121.5%;
  font-weight: 500;
  display: inline-block;
}
.autonomous-unmanned-ground,
.blank-line51,
.blank-line52 {
  margin: 0;
}
.goblin-concept-digital-container {
  height: 35.73%;
  width: 31.79%;
  top: 9.3%;
  display: inline-block;
}
.goblin-concept-digital-container,
.link8,
.sculpted-in-zbrush8 {
  position: absolute;
  left: 0;
  letter-spacing: -0.03em;
  line-height: 121.5%;
}
.sculpted-in-zbrush8 {
  height: 7.4%;
  width: 28.15%;
  top: 30.66%;
  font-size: var(--sub-text-size);
  color: var(--main-gray);
  display: none;
}
.link8 {
  height: 4.23%;
  width: 29.13%;
  top: 73.36%;
  text-decoration: underline;
  font-weight: 500;
  display: inline-block;
}
.thumbnail8 {
  position: absolute;
  height: 77.1%;
  width: 57.14%;
  top: 0;
  right: 0;
  bottom: 22.9%;
  left: 42.86%;
  background-color: var(--main-gray);
  display: none;
}
.seperator14 {
  position: absolute;
  height: 0.32%;
  width: 99.7%;
  top: 99.85%;
  right: -0.34%;
  bottom: -0.17%;
  left: 0.64%;
  border-top: 1.5px solid var(--main-black);
  box-sizing: border-box;
}
.body9 {
  left: 0;
  width: 1120px;
  height: 473px;
}
.body9,
.ugv,
.ugvpng-icon {
  position: absolute;
  top: 0;
}
.ugvpng-icon {
  left: 499px;
  width: 635px;
  height: 358px;
  object-fit: cover;
}
.ugv {
  left: 0;
  width: 1134px;
  height: 473px;
}
.section {
  top: 0;
  left: 0;
  width: 1147px;
  height: 3193px;
  font-size: var(--sub-header-link-size);
  font-family: var(--sub-header-link);
}
.frame2,
.icon13,
.section {
  position: absolute;
}
.frame2 {
  top: 550px;
  left: 160px;
  width: 1147px;
  height: 3327px;
  overflow: hidden;
}
.icon13 {
  top: 92px;
  left: calc(50% - 240px);
  width: 33.6px;
  height: 38px;
}
.explore-projects,
.headline {
  position: absolute;
  width: 480px;
}
.explore-projects {
  top: -11px;
  left: calc(50% - 240px);
  letter-spacing: -0.03em;
  line-height: 97.2%;
  font-weight: 500;
  display: inline-block;
  height: 65px;
}
.headline {
  top: 322px;
  left: 160px;
  height: 130px;
  font-size: var(--heading-1-size);
}
.portfolio-project-list-page {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  height: 3894px;
  overflow: hidden;
  text-align: left;
  font-size: var(--navigation-size);
  color: var(--main-black);
  font-family: var(--heading-2);
}
