.site-logo-icon7 {
  align-self: stretch;
  width: 67.5px;
  position: relative;
  max-height: 100%;
  min-height: 23px;
}
.projects29 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
  min-width: 57px;
}
.projects28 {
  height: 20px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.about15 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
  min-width: 59px;
  flex-shrink: 0;
}
.about14,
.menu-links4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.about14 {
  height: 20px;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.menu-links4 {
  width: 162.9px;
  gap: var(--gap-12xs-2);
}
.projects31 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
  min-width: 78px;
}
.projects30 {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xl) 0 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.contact15 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
  min-width: 78px;
  flex-shrink: 0;
}
.contact14,
.menu-links5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact14 {
  height: 20px;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.menu-links5 {
  gap: var(--gap-smi-4);
}
.content3,
.menu7,
.navigation-bar7 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.menu7 {
  margin: 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-32xl-1);
  text-align: left;
  font-size: var(--navigation-size);
  color: var(--main-black);
  font-family: var(--heading-2);
}
.content3,
.navigation-bar7 {
  box-sizing: border-box;
}
.navigation-bar7 {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-3xs) 0 var(--padding-11xs);
  gap: var(--gap-xl);
}
.content3 {
  width: 1120px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 114px;
}
.air-quality-monitoring,
.spring-2023 {
  position: relative;
  letter-spacing: -0.03em;
}
.air-quality-monitoring {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  line-height: 59px;
  font-weight: 500;
  font-family: inherit;
}
.spring-2023 {
  width: 305px;
  font-size: var(--heading-2-size);
  line-height: 38px;
  color: var(--main-gray);
  display: inline-block;
}
.project-title1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1082px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
  max-width: 100%;
}
.icon11 {
  width: 33.6px;
  height: 38px;
  position: relative;
}
.a-system-of,
.an-iot-device,
.blank-line39,
.blank-line40,
.blank-line41,
.blank-line42 {
  margin: 0;
}
.an-iot-device-container {
  margin: 0;
  align-self: stretch;
  height: 321px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 117%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.description2 {
  position: absolute;
  top: 180px;
  left: 0;
  width: 1120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-28xl);
  max-width: 100%;
  font-size: var(--heading-2-size);
  color: var(--main-gray);
}
.tech-stack3 {
  width: 124px;
  position: relative;
  text-decoration: underline;
  letter-spacing: -0.03em;
  line-height: 121.5%;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.html-css-js,
.python-flask-nginx {
  margin: 0;
}
.python-flask-nginx-container {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 121.5%;
}
.raspberry-pi-4 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 22px;
}
.hardware,
.stack-items,
.stack-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hardware {
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.stack-items,
.stack-list {
  flex-direction: column;
}
.stack-items {
  align-self: stretch;
  gap: 43.8px;
  max-width: 100%;
}
.stack-list {
  flex: 1;
  padding: 10.7px 0 0;
  box-sizing: border-box;
  min-width: 283px;
}
.main1,
.stack-list,
.tech {
  max-width: 100%;
}
.tech {
  position: absolute;
  top: 540px;
  left: 0;
  width: 623px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-44xl);
  font-size: var(--sub-header-link-size);
  font-family: var(--sub-header-link);
}
.main1 {
  width: 1120px;
  height: 643.4px;
  position: relative;
  text-align: left;
  font-size: var(--heading-1-size);
  color: var(--main-black);
  font-family: var(--heading-2);
}
.seperator12 {
  align-self: stretch;
  height: 1.5px;
  position: relative;
  border-top: 1.5px solid var(--main-black);
  box-sizing: border-box;
}
.youtube-and-vimeo-video1 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.watch-demo-video1 {
  flex: 1;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 30px;
}
.caption,
.player {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.caption {
  width: 301px;
  flex-direction: row;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
}
.player {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  gap: 37px;
  max-width: 100%;
}
.video-player {
  width: 740px;
  flex: 1;
  flex-direction: row;
  padding: 0 15px;
  box-sizing: border-box;
}
.media,
.video-container,
.video-player {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.video-container {
  align-self: stretch;
  width: 1115.1px;
  flex-direction: column;
  gap: 62.1px;
}
.media {
  height: 569.6px;
  flex-direction: row;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--main-black);
  font-family: var(--sub-header-link);
}
.portfolio-project-02-page-child {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.manue-alaimo8 {
  margin: 0;
}
.manue-alaimo-container8 {
  width: 270.8px;
  display: inline-block;
}
.github8,
.linkedin8,
.manue-alaimo-container8 {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 20px;
  font-weight: 500;
  flex-shrink: 0;
}
.linkedin8 {
  flex: 1;
}
.github8 {
  display: inline-block;
  min-width: 69.4px;
}
.footer8,
.social {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.social {
  width: 199.4px;
  justify-content: flex-start;
  gap: var(--gap-12xl-8);
  color: var(--main-black);
}
.footer8 {
  flex: 1;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.contact-info1,
.portfolio-project-02-page {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.contact-info1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-mid);
  max-width: 100%;
}
.portfolio-project-02-page {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-83xl) 143px var(--padding-68xl) var(--padding-141xl);
  gap: 109px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--navigation-size);
  color: var(--secondary);
  font-family: var(--heading-2);
}
@media screen and (max-width: 1125px) {
  .video-container {
    gap: var(--gap-12xl);
  }
}
@media screen and (max-width: 1025px) {
  .air-quality-monitoring {
    font-size: var(--font-size-29xl);
    line-height: 47px;
  }
  .an-iot-device-container,
  .spring-2023 {
    font-size: var(--font-size-7xl);
    line-height: 30px;
  }
}
@media screen and (max-width: 750px) {
  .main1 {
    height: auto;
    min-height: 643.3999999999996;
  }
  .player {
    gap: var(--gap-lg);
  }
  .video-container {
    gap: var(--gap-base);
  }
  .footer8 {
    flex-wrap: wrap;
  }
  .portfolio-project-02-page {
    gap: 54px;
    padding-left: var(--padding-61xl);
    padding-right: var(--padding-52xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .menu7 {
    gap: var(--gap-7xl);
  }
  .air-quality-monitoring {
    font-size: var(--font-size-17xl);
    line-height: 35px;
  }
  .an-iot-device-container,
  .spring-2023,
  .watch-demo-video1 {
    font-size: var(--font-size-lgi);
    line-height: 22px;
  }
  .watch-demo-video1 {
    line-height: 23px;
  }
  .github8,
  .linkedin8,
  .manue-alaimo-container8 {
    font-size: var(--font-size-mid);
    line-height: 20px;
  }
  .portfolio-project-02-page {
    gap: 27px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
