:root {
    --main-black: rgba(24, 23, 23, 1);
    --main-gray: rgba(96, 96, 96, 1);
    --main-white: rgba(243, 243, 243, 1);
    --secondary: rgba(36, 41, 175, 1);
    --heading-1-font-family: "DM Sans", Helvetica;
    --heading-1-font-weight: 500;
    --heading-1-font-size: 60px;
    --heading-1-letter-spacing: -1.8px;
    --heading-1-line-height: 97.20000624656677%;
    --heading-1-font-style: normal;
    --heading-2-font-family: "DM Sans", Helvetica;
    --heading-2-font-weight: 400;
    --heading-2-font-size: 32px;
    --heading-2-letter-spacing: -0.96px;
    --heading-2-line-height: 116.99999570846558%;
    --heading-2-font-style: normal;
    --body-font-family: "Inter", Helvetica;
    --body-font-weight: 400;
    --body-font-size: 18px;
    --body-letter-spacing: -0.54px;
    --body-line-height: 121.50000333786011%;
    --body-font-style: normal;
    --navigation-font-family: "DM Sans", Helvetica;
    --navigation-font-weight: 500;
    --navigation-font-size: 21px;
    --navigation-letter-spacing: -0.63px;
    --navigation-line-height: 120.00000476837158%;
    --navigation-font-style: normal;
    --sub-text-font-family: "Inter", Helvetica;
    --sub-text-font-weight: 400;
    --sub-text-font-size: 14px;
    --sub-text-letter-spacing: -0.42px;
    --sub-text-line-height: 121.50000333786011%;
    --sub-text-font-style: normal;
    --sub-header-link-font-family: "Inter", Helvetica;
    --sub-header-link-font-weight: 500;
    --sub-header-link-font-size: 18px;
    --sub-header-link-letter-spacing: -0.54px;
    --sub-header-link-line-height: 121.50000333786011%;
    --sub-header-link-font-style: normal;
  }
  